.fecha {
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  background-color: rgb(123, 192, 233);
  align-items: center;
  justify-content: center;
  align-content: center;
}
.fecha h3 {
  background-color: rgb(123, 192, 233);
  margin-right: 5px;
  margin-left: 20px;
}
.fecha-div {
  background-color: rgb(123, 192, 233);
  justify-content: center;
}
.fecha-a {
  margin-right: 10px;
  background-color: white;
  transition: background-color 0.75s;
}
.fecha-a:hover {
  background-color: #f1666e;
}
.button-overlay {
  text-align: right;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1000;
}
#button-trace {
  background-color: #f1666e;
  margin-left: 75px;
  color: white;
  border-radius: 20px;
  border: solid white;
  padding: 5px;
  padding-left: 22px;
  padding-right: 22px;
  transition: background-color 0.75s;
  transition: border 0.75;
  box-shadow: 0px 5px #999;
}
#map-template {
  width: 90%;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70vh;
  background: gray;
}
#button-trace:hover {
  background-color: white;
  border: solid #f1666e;
  color: #f1666e;
}
#button-trace:active {
  transform: translateY(2px);
  box-shadow: 0px 3px #666;
}
.ruta {
  border-radius: 20px;
  padding: 0px 32px 0px 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-decoration: none;
  background-color: #f1666e;
  border: solid white;
  color: white;
  box-shadow: 0px 5px #999;
  transition: background-color 0.75s;
  transition: border 0.75;
}
.ruta:hover {
  background-color: white;
  border: solid #f1666e;
  color: #f1666e;
}
.ruta:active {
  box-shadow: 0px 3px #666;
  transform: translateY(2px);
}
@media (max-width: 768px) {
    .fecha {
      display:block;
      align-items: center;
      justify-content: center;
    }
  }
