p{
  background-color: #EEEEEE;
  border-width: 5px;
  border-style: hidden;
  border-color: #1F4CA4;
  border-radius: 28px;
  padding: 5%;
}
.container {
  padding-top: 50px;
}
.texto h2 {
  margin: 2em;
}
.imagen {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 70vh;
}
#currentInfo{
  height: 70%;
  overflow-y: scroll;
  width: 25%;
  padding: 2%;
}

@media (max-width: 768px) and (min-width: 500px) {
  .img {
    width: 60vh;
  }
}
@media (max-width: 500px) {
  .img {
    width: 40vh;
  }
}
