.container {
  padding-top: 50px;
}
.texto h2 {
  margin: 2em;
}
.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.position-text-muted {
  font-style: italic;
}
.position {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 23px;
  text-align: center;
  align-items: center;
}
.position-item {
  display: inline-flex;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}
p{
  background-color: #EEEEEE;
  border-width: 5px;
  border-style: hidden;
  border-color: #1F4CA4;
  border-radius: 28px;
  padding: 5%;
}
.img {
  height: 70%;
  width: 25%;
  padding: 2%
}
#currentInfo{
  height: 70%;
  overflow-y: scroll;
  width: 25%;
  padding: 2%;
}
.imagen{
  height: 25%;
  width: 25%;
  padding: 2%;
}

@media (max-width: 768px) {
  .position {
    font-size: 30px;
    display: block;
  }
  .position-item {
    text-align: left;
    align-items: center;
    display: block;
  }
  .img {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 5000px) {
  .img {
    width: 350px;
    height: 262.85px;
  }
}
