* {
  left: 0;
  right: 0;
  margin: 0;
}
body {
  font-family: "STIX Two Math", serif;
  justify-content: flex-end;
  margin: 0%;
  padding: 0%;
  background-color: white;
}
.body-content {
  padding-top: 100px;
}
.header {
  background-color: #f1666e;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;

  position: fixed;
}
.logo {
  font-size: 40px;
  font-weight: bold;
  line-height: 100px;
}
.nav {
  left: 0;
  right: 0;
  padding: 0 50px;
  position: fixed;
  display: flex;
  justify-content: center;
}
.nav-link {
  color: white;
  text-decoration: none;
}

.texto h2 {
  margin: 2em;
}
.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 400px;
  height: 300px;
}
.text-muted {
  font-style: italic;
}
.position {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  display: flex;
}
.position-item {
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}
.map {
  align-items: center;
  text-align: center;
  position: inherit;
  background: gray;
}
#map-template {
  width: 90%;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50vh;
}
.footer {
  background-color: #f1666e;
  position: initial;
  text-align: center;
  align-items: center;
  height: 200px;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-email {
  display: inline;
  text-align: center;
  align-items: center;
  list-style: none;
  line-height: 30px;
  vertical-align: middle;
}
.footer-item-email {
  text-align: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #2a1e5c;
}
@media (max-width: 768px) {
  .position {
    display: block;
    font-size: 30px;
  }
  .position-item-data {
    text-align: center;
    align-items: center;
  }
}
