body{
    font-family: 'STIX Two Math', serif;
    margin: 0%;
    padding: 0%;
    background-color: white;
}

.titulo{
    width: 100%;
    background-color: #f1666e;
    display: flex;
    height: 100px;
}

.titulo h1{
    margin:auto;
    text-align: center;
    vertical-align: middle;
    
}

.texto{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.texto h2{

    margin: 2em;
}

.imagen{

    display: flex;
    align-items: center;
    justify-content: center;

}

hr{

    border: 2px solid black ;
    margin: 0%;
}

.img{

    width: 400px;
    height: 300px;
}

.text-muted{
    font-style: italic;
}

.position{
    list-style:  none;
    display: flex;
}

.position-item{
    text-decoration: none;
    font-size: 25px;
}


#map-template{
    width: 40vw;
    height: 40vh;
    position: absolute;
    background: gray;
    left: 30%;
}

@media (max-width: 768px) {
    .texto{
        display: block;
    }
    .position-item-data{
        text-align: center;
        align-items: center;
    }
}

