@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
p{
  margin: 10px;
}
.container {
  display: flex;
  height: 100%;
}
.texto h2 {
  margin: 2em;
}
.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 70vh;
}
#currentInfo {
  overflow-y: scroll;
  width: 65vh;
  height: 82vh;
}
#currentInfo p {
  background-color: #eeeeee;
  border-width: 5px;
  border-style: hidden;
  border-color: #1f4ca4;
  border-radius: 20px;
  padding: 5px;
}
#map-template{
  margin: 0px 10px;
}
.row {
  padding: 50px 20px;
}



@media (max-width: 768px) and (min-width: 500px) {
  .img {
    width: 60vh;
  }
}
@media (max-width: 500px) {
  .img {
    width: 40vh;
  }
}
@media screen and (max-width: 281px) {
  .img {
    width: 30vh;
  }
}

@media screen and (max-height: 650px) {
  #currentInfo::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  #currentInfo::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  /* Handle */
  #currentInfo::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f1666e; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }

  #currentInfo::-webkit-scrollbar-thumb:window-inactive {
    background: #c75359; 
  }
}
