<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap" rel="stylesheet" />


    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/indexStyle.css" />


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <script defer src="https://kit.fontawesome.com/47abef14b3.js" crossorigin="anonymous"></script>

    <title>Taxiflow</title>
</head>

<body>

    <header class="header">
        <nav class="nav">
            <a href="/" class="logo nav-link">TaxiFlow</a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item nav-link">
                    <a href="/" class="nav-menu-link nav-link">Home</a>
                </li>
                <li class="nav-menu-item nav-link">
                    <a href="#" class="nav-menu-link nav-link">Help</a>
                </li>
                <li class="nav-menu-item nav-link">
                    <a href="/aboutUS" class="nav-menu-link nav-link nav-menu-link_active">About Us</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="body-content">
        <div class="imagen">
            <img alt="" class="img" importance="auto" loading="auto"
                src="https://i.pinimg.com/originals/d7/ae/01/d7ae0170d3d5ffcbaa7f02fdda387a3b.gif" />
        </div>

        <ul class="position">
            <li class="position-item">
                <a class="position-item-data">
                    Longitud:
                    <small class="text-muted" id="lon"></small>
                </a>
            </li>

            <li class="position-item">
                <a class="position-item-data">
                    Latitud:
                    <small class="text-muted" id="lat"></small>
                </a>
            </li>

            <li class="position-item">
                <a class="position-item-data">
                    Fecha:
                    <small class="text-muted" id="date"></small>
                </a>
            </li>

            <li class="position-item">
                <a class="position-item-data">
                    Hora:
                    <small class="text-muted" id="time"></small>
                </a>
            </li>
        </ul>

        <div id="map">
            <div id="map-template"></div>
        </div>
    </div>

    <footer class="footer">
        <div class="continer">
            <ul class="footer-email">
                <li class="footer-item">
                    Angelica Barranco Aragon -
                    <small class="text-muted">mbarranco@uninorte.edu.co</small>
                </li>
                <li class="footer-item">
                    Dierick Brochero Niebles -
                    <small class="text-muted">dierickb@uninorte.edu.co</small>
                </li>
                <li class="footer-item">
                    Cristian Martinez Turizo -
                    <small class="text-muted">cdturizo@uninorte.edu.co</small>
                </li>
                <li class="footer-item">
                    Nicolas Casas Parra -
                    <small class="text-muted">ncasas@uninorte.edu.co</small>
                </li>
                <li class="footer-item">
                    Juan Orozco Flores -
                    <small class="text-muted">dojuan@uninorte.edu.co</small>
                </li>
            </ul>
        </div>
    </footer>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="scripts/main.js"></script>
    <script src="./scripts/jsNavBar.js"></script>

</body>

</html>