<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <script>src="main.js"</script>
    <title>Taxiflow</title>
</head>

<body>
    <div class="titulo" >
      <h1>Taxi flow</h1>
    </div>
    <hr>
     <div class="imagen">
        <img alt="" class="img" importance="auto" loading="auto" src="https://i.pinimg.com/originals/d7/ae/01/d7ae0170d3d5ffcbaa7f02fdda387a3b.gif">
     
     </div>


    <div class="texto">
        <h2>Latitud</h2> 
        <p><%=lat%></p>
        <h2>Longitud</h2> 
        <p><%=lon%></p>
        <h2>Fecha</h2> 
        <p><%=date%></p>
        <h2>Hora</h2> 
        <p><%=time%></p>

    </div>
</body>
</html>